<strong>Olá, {{ provider }} você recebeu uma nova resposta</strong>
<p>Confira os detalhes de sua resposta logo abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data/hora: </strong> {{ answerDate }} <br />
  <br />
  <small>
   Obrigado pela sua compreensão
  </small>
</p>